version: "3"
services:
  go: # サービス名
    build: # ビルドに使うDockerファイルのパス
      context: .
      dockerfile: ./docker_go/Dockerfile
    tty: true # コンテナの永続化
    environment:
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'pass'
      MYSQL_DATABASE: 'go_development'
      MYSQL_HOST: 'db'
      MYSQL_PORT: '3306'
    ports:
      - 1323:1323
    volumes:
      - ./src:/src # マウントディレクトリ
    depends_on:
      - db

  db:
    image: mysql:8.0.28
    ports:
      - '3306:3306'
    volumes:
      - go_mysql_data:/var/lib/mysql
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'pass'
      MYSQL_DATABASE: 'go_development'
      MYSQL_HOST: 'db'
      MYSQL_PORT: '3306'
volumes:
  go_mysql_data: